# Ignore data and temporary files
data/
*.csv
*.xlsx
*.zip
*.pkl
*.npy
*.parquet

# Keep model weights
!weights/
!*.h5

# Ignore virtual environment
.venv/

# Ignore temporary system files
__pycache__/
.DS_Store
